* {margin:0; padding:0}
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF}
#text {margin:10px auto; width:150px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px; cursor:pointer}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

#devices {
background-color: cfecfe;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;   
border-radius:10px;            
border:5px outset #cfecfe;
padding:10px; 
text-align:center;
vertical-align:middle;
font-variant:small-caps;
font-weight:bold;
Font-size: 14;
color:#2F4F4F;
text-shadow:0px 0px 7px #68838B;
cursor: pointer;

} 

#constructfield {
position: relative;
float: right;
width: 77%;
text-align: center;
height: 100%;
background-color: cfecfe;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;   
border-radius:10px;            
border:5px outset #cfecfe;
padding:10px; 
vertical-align:top;
font-variant:small-caps;
font-weight:bold;
Font-size: 14;
color:#2F4F4F;
text-shadow:0px 0px 7px #68838B;
cursor: pointer;

} 

.constrdevice {position:absolute; text-align: center;} 
.palette_icon {height: 64; width: 64}
.editor_icon {height: 32; width: 32}